<html lang="en" ng-app="main" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>  
    <header><img src="image/zg.png" alt="ZillowGroup"></header>    
    <div ng-controller="formController" layout="column" ng-cloak class="md-inline-form main">
        <div class="form-main" >
            <form name="userForm">
                <md-content layout-padding>
                        <md-input-container  class="md-block" flex-gt-sm>
                            <label>Firstname Lastname</label>
                            <input ng-model="user.fullname">
                        </md-input-container>
                        <md-input-container  class="md-block" flex-gt-sm>
                                <label>Job Title</label>
                                <input ng-model="user.job_title">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Email</label>
                            <input name="email" ng-model="user.email" required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                            <div ng-messages="userForm.email.$error" ng-hide="showHints">
                              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Your email must be between 10 and 100 characters long and look like an e-mail address.
                              </div>
                            </div>
                          </md-input-container>
    
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Office</label>
                            <input name="office" ng-model="user.office" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/" />
                
                            <div class="hint" ng-show="showHints">###-###-####</div>
                
                            <div ng-messages="userForm.direct.$error" ng-hide="showHints">
                            <div ng-message="pattern">###-###-#### - Please enter a valid phone number.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Mobile</label>
                            <input name="mobile" ng-model="user.mobile" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/" />
                
                            <div class="hint" ng-show="showHints">###-###-####</div>
                
                            <div ng-messages="userForm.mobile.$error" ng-hide="showHints">
                            <div ng-message="pattern">###-###-#### - Please enter a valid phone number.</div>
                            </div>
                        </md-input-container>

                </md-content>
            </form>
        </div>
        <div class="display-text">
            <div class="fullname">{{user.fullname}}</div>
            <div class="title">{{user.job_title}}</div>
            <address>
              <a href="#">65E 56th 17th Floor | New York NY 10022</a>
            </address>
            <a class="email" href="#">{{user.email}}</a>
            <a class="website" href="https://www.clearme.com/">www.clearme.com</a>
            <div class="direct">{{user.office}}</div>
            <div class="mobile">{{user.mobile}}</div>
            <img class="zillow-group-image" src="https://mma.prnewswire.com/media/844957/Zillow_Group.jpg">
        </div>
    </div>
 

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
  
  <script src='main.js'></script>

</body>
</html>