header img {
    width: 25vw;
    text-align: center;
}
.main {
    flex-direction: row;
}
.form-main {
    width:600px;
}
.display-text {
    width: 400px;
    padding: 20px;
    border-left: 2px solid;
}
img.zillow-group-image {
    width: 125px;
}

